# database connection string
DATABASE_URL = "database_connection_string"

# jwt decoding
SECRET_KEY = "secret_key"
ALGORITHM = "algorithm"
ACCESS_TOKEN_EXPIRE_MINUTES = 15
REFRESH_TOKEN_EXPIRE_DAYS = 7