# database connection string
DATABASE_URL = "database_connection_string"

# database connection string for alembic migrations
ALEMBIC_DATABASE_URL = "database_connection_string_for_alembic_migrations"

# jwt decoding
SECRET_KEY = "secret_key"
ALGORITHM = "algorithm"
ACCESS_TOKEN_EXPIRE_MINUTES = 15
REFRESH_TOKEN_EXPIRE_DAYS = 7